.outer_container {
    border: 1px solid #CCDDC7;
    border-radius: 12px;
    width: 662px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inner-container-complaints {
    display: flex;
    height: 79px;
    width: 662px;
    color: #D87906;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}

.inner-container-complaints::-webkit-scrollbar {
  display: none;
}

  @media (max-width: 1024px) {
    .outer_container {
        width: 307;
    }
  }
    
  @media (max-width: 375px) {
    .outer_container {
        width: 327;
    }}
