.outer_container {
    border: 1px solid #CCDDC7;
    border-radius: 12px;
    width: 662px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inner-container-complaints {
    display: flex;
    height: 79px;
    width: 662px;
    color: #D87906;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}

.outer_container,
.inner-container-complaints {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;  /* Firefox */
}

.outer_container::-webkit-scrollbar,
.inner-container-complaints::-webkit-scrollbar {
    display: no;
}

.inner-container-complaints::-webkit-scrollbar {
  display: none;
}

  @media (max-width: 1024px) {
    .outer_container {
        max-width: 307;
        width: 85vw;
    }
  }
    
  @media (max-width: 500px) {
    .outer_container {
        width: 90vw;
        height: 62px;
        font-size: 12px;
        overflow: hidden; /* Add hidden on Y too */

    }

    
  }
